/** Icon **/
.header-franz-icon {
    cursor: pointer;
}

.header-franz-icon svg .st0, .header-franz-icon svg .st1 {
    fill: transparent;
    stroke: #fff;
}

.header-franz-icon svg {
    width: 20px;
    height: 20px;
    stroke-width: 25px;
    position: relative;
    top: 4px;
}

.franz-about-inner {
    padding: 0 10px 10px;
}

.franz-about-icon-wrap {
    display: inline-block;
    width: 78px;
    margin-left: calc(50% - 39px);
    margin-bottom: 10px;
}

.franz-about-icon {
    width: 72px;
    height: 72px;
    background: #3498db;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0px 2px 4px 0px #ccc;
    -webkit-box-shadow: 0px 2px 4px 0px #ccc;
}

.franz-about-icon svg {
    width: 56px;
    height: 56px;
    margin-top: 8px;
    margin-left: 8px;
}

.franz-about-icon svg .st0, .franz-about-icon svg .st1 {
    fill: #fff;
}

.franz-about-info {
    text-align: center;
}

.franz-about-update .spinner {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    margin-right: 5px;
    vertical-align: text-top;
}

.franz-about-info a,
.franz-about-details a {
    color: #8dc6a6;
    border-color: #8dc6a6;
}

.franz-about-info a:hover,
.franz-about-details a:hover {
    color: #62b38d;
    border-color: #62b38d;
}

.franz-about-title {
    font-weight: bold;
    font-size: 20px;
}

.franz-about-version span {
    font-weight: bold;
    font-size: 12px;
}

.franz-about-version a {
    font-size: 12px;
    margin-left: 20px;
}

.franz-about-update {
    padding: 10px 0 0 0;
    font-size: 12px;
}

.franz-about-update a {
    border: 2px solid;
    border-radius: 5px;
    padding: 2px 4px;
}

.franz-uptodate {
    font-size: 12px;
    color: #aaaab7;
}

.franz-outdated a {
    color: #d55161;
    border-color: #d55161;
}

.franz-outdated a:hover {
    color: #c14857;
    border-color: #c14857;
}

.franz-update-error {
    color: #d55161;
}

.franz-about-details {
    padding: 0 10px;
    text-align: center;
}

.franz-about-details p {
    font-size: 12px;
}

.franz-about-footer {
    font-size: 9px;
    text-align: center;
}